@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Merienda+One&family=Ole&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Lato&family=Merienda+One&family=Ole&display=swap');

* {
    font-size: 16px;
}

:root{
    --body-font: 'Lato', sans-serif;
}

.container{
    margin:0
}

ul{
    list-style-type: none;
    margin-top: 4em;
    margin-right: 2em;
}

a{
    text-decoration: none;
}

a:active{
    border-bottom: 2px solid black;
}

li{
    display:flex;
    font-size: 1.3rem;
    font-weight: bold;
    color:rgb(22, 22, 22);
    margin-bottom: 2em;
    font-family:var(--body-font)
}

li:hover{
    color:red
}

.icon{
    margin-right:3.4em
}